* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.logo {
  position: relative;
  color: #ff5e8e;
  display: inline-block;
  font-size: 2em;
  text-decoration: none;
  font-weight: 800;
  opacity: 0;
  animation: slide_left 0.5s linear forwards;
  animation-delay: 0.2s;
}
@keyframes slide_left {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style: none;
}
header ul li a {
  display: inline-block;
  color: rgb(206, 55, 55);
  font-weight: 600;
  font-size: 1.1em;
  margin-left: 10px;
  display: inline-block;
  padding: 8px 18px;
  text-decoration: none;
  user-select: none;
  opacity: 0;
  animation: slide_top 0.5s linear forwards;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes slide_top {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
header ul li a.active,
header ul li a:hover {
  background: rgb(82, 90, 199);
  color: #fff;
  border-radius: 30px;
}
.content {
  position: relative;
}
.content .textbox {
  position: relative;
  max-width: 550px;
}
.content .textbox h2 {
  color: gold;
  font-size: 3.5em;
  margin-bottom: 10px;
  line-height: 1.2em;
  font-weight: 700;
  opacity: 0;
  animation: slide_right 0.5s linear forwards;
  animation-delay: 1s;
}
@keyframes slide_right {
  0% {
    transform: translate(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
.content .textbox p {
  font-size: 1.2em;
  color: #333;
  opacity: 0;
  animation: slide_left 0.5s linear forwards;
  animation-delay: 1.75s;
}
.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30x;
  background: orchid;
  color: #fff;
  font-size: 1.2em;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  opacity: 0;
  animation: slide_top 0.5s linear forwards;
  animation-delay: 2s;
}
.sci {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sci li {
  list-style: none;
}
.sci li a {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background: #b3338c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  opacity: 0;
  animation: slide_top 0.5s linear forwards;
  animation-delay: calc(0.2s * var(--i));
}
.sci li a img {
  filter: invert(1);
  transform: scale(0.2);
}
.sci li a:hover {
  background: #ff5e8e;
  transform: translate(-10px);
}
.coffeeimage {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100px;
  min-width: 800px;
  min-height: 100vh;
  max-height: 80vw;
  opacity: 0;
  animation: fade_in 1s linear forwards;
  animation-delay: 3.5s;
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* now, make it responsive */
@media (max-width: 991px) {
  section {
    padding: 150px 20px;
  }
  header {
    padding: 20px;
  }
  .navigation {
    display: none;
  }
  .navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header ul li {
    margin: 10px 0;
  }
  header ul li a {
    margin-left: 0;
    font-size: 1.5em;
  }
  .toggle {
    position: fixed;
    right: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #0169b2 url("./images/menu.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 1000;
    border-radius: 2px;
  }
  .toggle.active {
    background: #0169b2 url("./images/close.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .coffeeimage {
    max-width: 400px;
  }
  .content .textbox h2 {
    font-size: 2.5em;
  }
  .content .textbox p {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  .coffeeimage {
    opacity: 0.4 !important;
  }
}
/* now, i'll make it animated */
